{% load static %}
<link rel="stylesheet" href="{% static 'bugs/base.css' %}">
<link rel="stylesheet" href="{% static 'bugs/create_bug.css' %}">

<!DOCTYPE html>
<html>
    <head>
        <title>Report a Bug</title>
    </head>
    <body>
        <h1>Submit a New Bug</h1>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit Bug</button>
        </form>

        <p><a href="{% url 'bug_list' %}">Back to Bug List</a></p>
    </body>
</html>
